.btn-link{
	
	background-color:rgb(255,0,0);
	color:white;
	padding-left:20px;
	padding-right:20px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:2px;
	font-family:calibri;
	text-decoration:none;
}
.btn-link:hover{
	background-color:rgb(255,99,71);
}
.btn-link:active{
	background-color:green;
}
